# Dependencies
/vendor/
node_modules/

# Environment
.env

# CodeIgniter writable
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/cache/index.html
!/writable/debugbar/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/uploads/index.html

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Build
.env.php
